{{template "base" .}}

    {{define "content"}}
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1>This is the homepage</h1>
                    <p>This is awesome!!!!</p>
                    <small>This page is lowkey dynamic</small>
                </div>
            </div>
        </div>
    {{end}}

